
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Akaya Telivigala', cursive;
  background-color: #D7D6D0;
  line-height: 1.5;
  font-size: 1.50rem;
}
.navbar{
  position: sticky;
  top: 0;
}
.d-block{
  width: 100%;
  height: 92vh;
  object-fit: cover;
  opacity: 0.6;
  filter: grayscale(30%);
}
.nav-link{
  color: black;
  font-weight: 800;
}
.carousel-caption{
  color: black;
  text-transform: capitalize;
}
.carousel-caption> h5{
  font-size: larger;
}

.carousel-caption> blockquote{
  text-transform: none;
}
.about{
  margin: 1.5rem;
}
.history> h4{
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  text-decoration: wavy;
  font-weight: bolder;
  padding-top: 4rem;
  padding-bottom: 1.6rem;
}
.card> h4{
  text-transform: capitalize;
  text-align: center;
  text-decoration: wavy;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: darkred;
}
.btn-link{
  text-transform: capitalize;
  color: black;
  font-size: 1.2rem;
}
.btn-link:hover{
  text-decoration: none;
  color: darkred;
  font-weight: 900;
}
.logo{
  width: 100px;
  height: auto;
}
i{
  color: black;
}
i:hover{
  color: darkslategray;
}
.jumbotron{
  margin-bottom: 0;
  padding-bottom: 0;
  
}
.accordion{
  background-color:#D0CCCC;
}
.opinion{
  font-size: 1rem;
  line-height: 0.75rem;
}
.opinions{
  margin: 3rem;
  box-shadow: 5px 10px solid;
}
.person-img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
/* menu styling */
.menu{
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  
}
.title> h2{
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  text-decoration: wavy;
  font-weight: bolder;
  padding-top: 4rem;
  padding-bottom: 1.6rem;
}
.photo{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.filter-btn{
  text-transform: uppercase;
  justify-self: center;
}
.home> a{
  color: black;
  font-weight: bolder;
  text-transform: capitalize;
}
.home> a:hover{
  color: darkred;
  text-decoration: none;
}
header>h4{
  text-transform: capitalize;
  font-weight: bolder;
}
.promo-img{
  width: 30px;
  height: auto;
}